<template name="pageMainContent">
    {{! BEGIN PAGE CONTENT }}
    <div class="page-content">
        <div class="container-fluid">

            {{! Begin page heading }}
            <h1 class="page-heading">EMC Application Monitor <small>Information we already had, but didn't know how to use</small></h1>
            {{! End page heading }}
            {{>pageHomePage}}
        </div>{{! /.container-fluid }}

        {{! BEGIN FOOTER }}
        <footer>
            &copy; 2014 <a href="#">Stains the Dog</a>
        </footer>
        {{! END FOOTER }}
    </div>{{! /.page-content }}
    {{! END PAGE CONTENT }}
</template>
