<template name="productPage">
    <h1 class="page-heading">VIEW PRODUCT <small>Your Product in more detail</small></h1>
    <ol class="breadcrumb default square rsaquo sm">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li>Products</li>
        <li class="active">{{name}}</li>
    </ol>
    <div class="row">
        <div class="col-sm-4">
            <h4 class="small-title">{{name}} - {{total}} Projects found</h4>
            <ul class="list-group">
                {{#each projects}}
                    <li class="list-group-item">
                        <span class="showPane" data-for="{{_id}}">{{_id}}</span>
                        {{#if _source.message.warnings}}
                            <span class="badge badge-warning">warning</span>
                        {{else}}
                            <span class="badge badge-success">healthy</span>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-sm-8">
            {{#each projects}}
                <div id="pane_{{_id}}" class="showablePane">
                    {{#if _source.message.warnings}}
                        <h4>Messages for {{_id}}</h4>
                        {{#each _source.message.warnings}}
                            <div class="alert alert-warning alert-bold-border square fade in alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <strong>Warning!</strong> {{this}}
                            </div>
                        {{/each}}
                    {{else}}
                        <h4>Messages for {{_id}}</h4>
                        <div class="alert alert-success fade in alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>All is good in the world of {{_id}}!</strong> There are no issues to report.
                        </div>
                    {{/if}}
                </div>
            {{/each}}
            <div class="showablePane" style="display:block">
                <h4></h4>
                <p><br /><br />Click a project to view warning messages</p>
            </div>
        </div>
    </div>
</template>
