<template name="homePage">
    {{! Begin page heading }}
    <h1 class="page-heading">EMC Application Monitor <small>Information we already had, but didn't know how to use</small></h1>
    {{! End page heading }}

    {{! BEGIN EXAMPLE ALERT }}
    <div class="alert alert-success alert-block square fade in alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p><strong>Welcome!</strong></p>
        <p>Here we aggregate lots of cool data that we already have stored, but aren't making full use of. This is a hackathon
            2014 project created by the 'Stains the Dog' team. <i class="fa fa-smile-o"></i></p>
    </div>
    {{! END EXAMPLE ALERT }}

    <div class="row">
        <div class="col-lg-3">

            {{! BEGIN TODAY VISITOR TILES }}
            <div class="panel panel-danger panel-square panel-no-border text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">LIVE APPS</h3>
                </div>
                <div class="panel-body">
                    <h1 class="bolded tiles-number text-danger">{{> liveAppCount}}</h1>
                    <p class="text-muted"><small>SPACES <strong>999</strong></small></p>
                    <p class="text-muted"><small>SERVICES <strong>999</strong></small></p>
                </div>{{! /.panel-body }}
            </div>{{! /.panel panel-success panel-block-color }}
            {{! END TODAY VISITOR TILES }}

        </div>{{! /.col-sm-6 }}
        <div class="col-lg-3">

            {{! BEGIN TODAY VISITOR TILES }}
            <div class="panel panel-warning panel-square panel-no-border text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">PSAPPS PRODUCTS</h3>
                </div>
                <div class="panel-body">
                    <h1 class="bolded tiles-number text-warning">{{> menuProductsCount}}</h1>
                    <p class="text-muted"><small>PROJECT COUNT <strong>{{> listProjectsCount}}</strong></small></p>
                    <p class="text-muted"><small>ISSUES FOUND <strong>999</strong></small></p>
                </div>{{! /.panel-body }}
            </div>{{! /.panel panel-success panel-block-color }}
            {{! END TODAY VISITOR TILES }}

        </div>{{! /.col-sm-6 }}
        <div class="col-lg-6">

            {{! BEGIN WEATHER WIDGET 2 }}
            <div class="panel panel-info panel-square panel-no-border">
                <div class="panel-heading">
                    <h3 class="panel-title white-text">SYSTEM HEALTH - NEXT RELEASE</h3>
                </div>
                <div class="panel-body bg-info">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="weather-widget horizontal">
                                <div class="row">
                                    <div class="col-xs-6 text-center">
                                        <canvas id="partly-cloudy-day" width="115" height="115"></canvas>
                                    </div>{{! /.col-xs-6 }}
                                    <div class="col-xs-6">
                                        <p class="white-text">50 APPS in Release</p>
                                        <p class="white-text">3 Dependency Issues</p>
                                        <p class="white-text">5 Licence Issues</p>
                                    </div>{{! /.col-xs-6 }}
                                </div>{{! /.row }}
                            </div>{{! /.weather-widget }}
                        </div>
                    </div>{{! /.row }}
                </div>{{! /.panel-body }}
            </div>{{! /.panel panel-success panel-block-color }}
            {{! END WEATHER WIDGET 2 }}

        </div>{{! /.col-sm-6 }}
    </div>{{! /.row }}

    <div class="row">
        <h1>Products</h1>
        {{>listProducts}}
    </div>


    <div class="row">
        {{>dependencyChart}}
    </div>



    <div class="row">
        <div class="col-lg-8">

            {{! BEGIN SITE STATISTIC }}
            <div class="panel panel-default panel-square panel-no-border">
                <div class="panel-heading">
                    <h3 class="panel-title">LIVE SITE STATISTICS</h3>
                </div>
                <div class="panel-body">
                    <div id="visitors-chart">
                        <div id="visitors-container" style="width: 100%;height:380px; text-align: center; margin:0 auto;"></div>
                    </div>{{! /.visitors-chart }}
                </div>{{! /.panel-body }}
            </div>{{! /.panel panel-default panel-square panel-no-border }}
            {{! END SITE STATISTIC }}

        </div>{{! /.col-sm-8 }}
        <div class="col-lg-4">

            {{! BEGIN CURRENCY RATES }}
            <div class="panel panel-primary panel-square panel-no-border">
                <div class="panel-heading">
                    <h3 class="panel-title">Requests by Service</h3>
                </div>
                <ul class="list-group currency-rates widget-currency-ticker">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Ingestion</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">300</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Raw Data</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">250</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Analysis</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">11</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Ingestion</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">300</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Raw Data</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">250</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Analysis</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">11</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Ingestion</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">300</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Raw Data</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">250</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Analysis</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">11</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Ingestion</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">300</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Raw Data</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">250</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Analysis</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">11</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Ingestion</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">300</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Raw Data</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">250</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Analysis</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">11</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Ingestion</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">300</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Raw Data</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">250</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Analysis</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">11</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Ingestion</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">300</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Raw Data</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">250</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Analysis</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">11</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Ingestion</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">300</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Raw Data</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">250</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-5"><a href="#">Analysis</a></div>{{! /.col-cs-4 }}
                            <div class="col-xs-5">11</div>{{! /.col-cs-4 }}
                            <div class="col-xs-2"><i class="fa fa-caret-up text-success"></i></div>{{! /.col-cs-4 }}
                        </div>{{! /.row }}
                    </li>

                </ul>
            </div>{{! /.panel panel-default panel-square panel-no-border }}
            {{! END CURRENCY RATES }}

        </div>{{! /.col-sm-4 }}
    </div>{{! /.row }}




    <div class="row">
        <div class="col-sm-12 col-md-8">

            {{! BEGIN SERVER STATUS WIDGET }}
            <div class="panel panel-success panel-square panel-no-border">
                <div class="panel-heading lg">
                    <div class="right-content">
                        <button class="btn btn-success to-collapse" data-toggle="collapse" data-target="#panel-chart-widget-1"><i class="fa fa-chevron-up"></i></button>
                    </div>
                    <h3 class="panel-title"><strong>YOUR SERVER STATUS</strong></h3>
                </div>
                <div id="panel-chart-widget-1" class="collapse in">
                    <div class="the-box no-border full bg-success no-margin">
                        <div id="realtime-chart-widget">
                            <div id="realtime-chart-container-widget"></div>
                        </div>{{! /.realtime-chart }}
                    </div>{{! /.the-box .no-border }}
                    <div class="the-box no-border">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-xs-6 text-center">
                                        <h4 class="small-heading">Kernel memory</h4>
                                                            <span class="chart chart-widget-pie widget-easy-pie-1" data-percent="45">
                                                                <span class="percent"></span>
                                                            </span>
                                    </div>{{! /.col-xs-6 }}
                                    <div class="col-xs-6 text-center">
                                        <h4 class="small-heading">Physical memory</h4>
                                                            <span class="chart chart-widget-pie widget-easy-pie-2" data-percent="85">
                                                                <span class="percent"></span>
                                                            </span>
                                    </div>{{! /.col-xs-6 }}
                                </div>{{! /.row }}
                                <hr />
                                <button class="btn btn-block btn-danger"><i class="fa fa-cogs"></i> Resource monitor</button>
                            </div>{{! /.col-sm-6 }}
                            <div class="col-sm-6">
                                <h4 class="small-heading">System status</h4>
                                <p class="small">Handles - <span class="text-danger">80%</span></p>
                                <div class="progress no-rounded progress-xs">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    </div>{{! /.progress-bar .progress-bar-danger }}
                                </div>{{! /.progress .no-rounded }}
                                <p class="small">Threads - <span class="text-warning">65%</span></p>
                                <div class="progress no-rounded progress-xs">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                    </div>{{! /.progress-bar .progress-bar-warning }}
                                </div>{{! /.progress .no-rounded }}
                                <p class="small">Proccess - <span class="text-success">40%</span></p>
                                <div class="progress no-rounded progress-xs">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    </div>{{! /.progress-bar .progress-bar-success }}
                                </div>{{! /.progress .no-rounded }}
                                <p class="small">Cached - <span class="text-info">70%</span></p>
                                <div class="progress no-rounded progress-xs">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    </div>{{! /.progress-bar .progress-bar-info }}
                                </div>{{! /.progress .no-rounded }}
                            </div>{{! /.col-sm-6 }}
                        </div>{{! /.row }}
                    </div>{{! /.the-box .no-border }}
                </div>{{! /#panel-chart-widget-1 }}
            </div>{{! /.the-box .no-border }}
            {{! END SERVER STATUS WIDGET }}

        </div>{{! /.col-sm-12 col-md-8 }}
    </div>

</template>
